@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh7USSwiPGQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh6UVSwiPGQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: local('Lato Black'), local('Lato-Black'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh50XSwiPGQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.wrapper1 {
    height: 89px;
    width: 1020px;
    background-color: #2d303a;
    margin: 0 auto;
    position: relative;
}
.underline1 {
    height: 6px;
    width: 1020px;
    background-color: #323746;
    margin: 0 auto;
}
.wrapper2 {
    height: 595px;
    width: 1020px;
    background-color: #f06c64;
    margin: 0 auto;
    position: relative;
}
.underline2 {
    height: 5px;
    width: 1020px;
    background-color: #ea676b;
    margin: 0 auto;
}
.wrapper3 {
    height: 495px;
    width: 1020px;
    background-color: #f2f2f2;
    margin: 0 auto;
}
.underline3 {
    height: 6px;
    width: 1020px;
    background-color: #ffffff;
    margin: 0 auto;
}
.navbar ul {
    height: 82px;
    width: 374px;
    position: absolute;
    right: 38px;
    top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar ul li {
    text-align: center;
    height: 20px;
}
.navbar ul li a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Lato";
    font-weight: 700;
    font-size: 12px;
}
.navbar ul li a:hover {
    color:#f06c64;
}
.navbar ul li a::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 2px;
    background-color: #494e62;
    margin-left: -15px;
    top: 40px;
    display: block;
}
.navbar li:nth-child(1) a::after {
    display: none;
}
.logo {
    width: 180px;
    height: 82px;
    position: absolute;
    top: 2px;
    left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo p {
    font-size: 25px;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 700;
    text-transform: uppercase;
}
.logo p.pink{
    color: #f06c64;
}
div.wrapper2 > img:nth-child(1) {
    width: 581px;
    height: 581px;
    position: absolute;
    top: -17px;
    left: 110px;
}
div.wrapper2 > img:nth-child(2) {
    width: 581px;
    height: 581px;
    position: absolute;
    top: 69px;
    left: 360px;
}
.arrow {
    border: solid #c94549;
    border-width: 0 4.4px 4.4px 0;
    display: inline-block;
    padding: 8px;
    cursor: pointer;
}
.arrow.left {
    position:absolute;
    top: 285px;
    left: 45px;
    transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.arrow.right {
    position:absolute;
    top: 285px;
    right: 43px;
    transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.section h1 {
    font-size: 30px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    margin-left: 39px;
    padding-top: 62px;
}
.section p{
    width: 940px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: justify;
    margin-left: 40px;
    padding-top: 21px;
}
.container {
    width: 960px;
    height: 247px;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 28px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.block {
    width: 300px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.block .ellipse {
    width: 55px;
    height: 54px;
    border-radius: 50%;
    border: 2px solid #666d89;
    position: relative;
    margin-top: 3px;
}
.block img {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#bulb {
    width: 26px;
    height: 35px;
}
#phone {
    width: 26px;
    height: 35px;
}
.text {
    width: 220px;
    text-align: justify;
}
.text h3 {
    font-size: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    margin-bottom: 10px;
}
.text p {
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
}